 html body{
    height:100% ;
    width: 1000px;
    background: url('elegent.jpg');
    
    

}
.container{
    height: 100%;

}
    
img{
    margin-right: 200px;
}
.sign{
    width: 50%;
    margin-top: 100px;
    margin-left: 150px;
    
}
.sign h2{
    color: palegreen;
    margin-left: 120px;


}
.button{
    margin-top: 20px;
}
.card-one,.card-two,.card-three{
    margin-top: 20px;
    display: inline-block;
    margin-left: 10px;
    margin:20px ;
}
h5{
    margin-left: 80px;
    
}
 .sign h1{
    color:aliceblue;
    margin-left: 600px;
    position:absolute;
    font-size: 60px;
    margin-top: -20px;
   
    
}


